/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


html {
    height:100%;
}
body {
    color: #000;
    font-size: 0.813em;
    letter-spacing:0.06em;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    height:100%;
    background-color: #efefef;
}
a {
    outline: none;
    text-decoration: none;
    color: #6E7B8B;
}
h1,h2,ul {
	margin: 0;
	padding:0;
}
li {
    list-style: none;
}
h1 {
    font-size: 1.538em;
    padding: 10px 0 10px; 
    font-weight: 700;
}
h2 {
    font-size: 1.308em;
    padding: 10px 0 10px; 
    font-weight: 700;
}
.info-wrap h1 span {
    font-size: 0.846em;
}
.info-wrap h2 {
    color: #b0b0b0;
    margin-left: 13px;
}
#main-header {
     /*background: url("../images/index_1.png") repeat scroll 0 0 #333;*/
    background-color: #363636;
    border-bottom: 5px solid #7AC5CD;
    color: #fff;
    font-weight: 700;
    width: 100%;

}
#main-header h1{
    font-size: 2em;
    padding-left: 10px;
    padding-top: 20px;
    display: inline-block;
}

#main-navigation {
    transition: height 0.5s ease;
    height: 0;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 5;
    background-color: #525252;
}
.menu-icon {
    float: right;
    margin: 25px 25px 0;
    font-size: 1.538em;
    cursor: pointer;
}

.menu-list a{
    width: 100%;
    text-align: center;
    font-size: 1.231em;
    padding: 10px 0;
    display:  block;
    border-top: 1px solid rgb(71,71,71);
    color: #7ac5cd;
}
.menu-list-first-item a{
    border-top: none;
}
#main-navigation.open {
    height: 110px;
}
h1 .fa-chevron-right {
    color: #53868B;
}
.content-wrap {
    position: relative;
}
.add-item {
    padding: 0 15px;
    height: 0;
    overflow: hidden;
}
.add-item.open {
    height: auto;
}
.add-item > li {
    margin-bottom: 15px;
}
.add-item label {
    width: 100px;
    display: inline-block;
}

.form-input.short {
    width: 10%;
}
.form-input.long {
    width: 72%;
}
.form-input.colour {
    border: none;
    padding: 13px 8px;
}

.dropdown, .form-input {
    border: 3px solid #53868B;
    border-radius: 8px;
    position: relative;
    padding: 10px 5px;
    background-color: #fff;
    color: #333;
     width: 50%;
     display: inline-block;
}
.dropdown {
    cursor: pointer;
    padding: 0;
}

.dropdown-selection .fa-chevron-down {
    position: absolute;
    right: 10px;
}
.dropdown-wrap {
    background-color: #fff;
    display: none;
    left: -3px;
    padding: 8px;
    position: absolute;
    top: 39px;
    width: 93%;
    border: 3px solid #53868B;
    overflow-y: scroll;
    max-height: 220px;
}
.dropdown-selection {
    color: #53868B;
    padding: 13px 5px;
}
.dropdown-wrap > div {
    border-bottom: 3px solid #c7c7c7;
    padding: 20px 0;
    cursor: pointer;
}
.dropdown-wrap li {
    display: inline-block;
}
.dropdown-name {
    color: #c7c7c7;
}
.dropdown-name:before {
    content: '-';
    margin: 0 3px;
}
.dropdown-colour {
    border-radius: 10px;
    display: inline-block;
    float: left;
    height: 14px;
    margin-right: 5px;
    margin-top: -1px;
    width: 14px;
}
.active {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px; 
}
.active .dropdown-wrap {
    display: block;
    z-index: 1;
}
.day-picker-wrap {
    margin-top: 10px;
    font-weight: 400;
    font-size: 0.83em;
    display: inline-block;
}
.day-picker-inner-wrap .day-picker {
    min-width: 75px;
    text-align: center;
}
.day-picker{
    padding: 10px;
    cursor: pointer;
    border: 3px solid #4F4F4F;
    border-radius: 8px;
    margin-right: 5px;
    display: inline-block;
}

.day-picker.selected {
    color: #333;
    background-color: #fff;
    border: 3px solid #53868B;
}
.day-picker-inner-wrap {
        display: inline-block;
}
.form-wrap {
    padding: 10px;
    background-color: #363636;
    color: #fff;
    position: absolute;
    z-index: 4;
    top: -74px;
    width: calc(100% - 20px);
}

.form-buttons-wrap {
    overflow: auto;
}
/*.form-buttons-wrap .button{
    float: right;
    padding-bottom: 10px;
}*/

.button input{
    background: none;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    
    padding: 7px;
    cursor: pointer;
    border: 3px solid #4F4F4F;
    border-radius: 8px;
    margin-right: 5px;
}
.form-buttons-wrap .right{
        float: right;
}
.form-wrap.fixed {
    position: fixed;
    top: 0;
    z-index: 4;
    margin-top: 0;
}
.form-title {
    cursor: pointer;
}
.tracker .list-wrap{
    margin-top: 74px;
}
.list-wrap {
    padding:10px;
}
.list-title {
    margin-bottom: 10px;
}
.list-row {
    margin-bottom: 10px;
    position: relative;
    border-top: 1px solid #363636;
}
.list-item {
    display: inline-block;
    padding: 0 0 0 10px;
    margin-bottom: 20px;
}
.list-item.list-name{
    width: 50%;
}
.list-item.list-abr {
    width: 64px;
    vertical-align: top;
    padding-top: 1px;
}
.list-item.list-time {
    width: 80%;
    padding-left: 10px;
}
.list-item.list-time .fa{
    padding-right:5px;
}
.list-item.list-date {
    margin: 0;
    background-color: #363636;
    padding: 5px;
    color: #fff;
    width: 64px;
    font-size: 0.846em;
    text-align: center;
}
.list-item.list-description {
    width: 80%;
    padding: 0 0 0 10px;
}

.list-item.list-edit {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -7px;
    font-size: 1.692em;
    color: #c7c7c7;
    cursor: pointer;
    padding-right: 10px;
}
.projects .list-item {
    padding: 25px 0 0 0;
}
.projects .list-edit {
    padding: 0 10px 0 0;
}
.project-colour {
    border-radius: 7px;
    display: inline-block;
    height: 15px;
    margin-right: 5px;
    margin-top: -1px;
    vertical-align: top;
    width: 15px;
}
.list-table-enter {
  opacity: 0.01;
  transition: opacity .8s ease-in;
}

.list-table-enter.list-table-enter-active {
  opacity: 1;
}
.cp-color-picker {
    z-index: 5;
}
.uppercase {
    text-transform: uppercase;
}

/*Bar Chart CSS*/
.info-wrap {
    /*margin-top: 74px;*/
    padding:10px;   
}
.info-wrap .bar-chart {
    box-sizing: border-box;
    height: 100%;
    padding: 0 0 3em;
    position: relative;
    width: 100%;
}

.info-wrap .bar-group {
    float: left;
    height: 100px;
    position: relative;
    text-align: center;
}
.info-wrap .bar-outer {
    box-sizing: border-box;
    padding: 0 1px;
    position: absolute;
    width: 100%;
    bottom: 20px;
}
.info-wrap  .bar-outer .bar-inner {
    border-left: 1px solid #333;
    border-radius: 2px 2px 0 0;
    border-right: 1px solid #333;
    border-top: 1px solid #333;
    bottom: 0;
}
.info-wrap .bar-inner {
    box-sizing: border-box;
    height: 100%;
    position: relative;
    width: 100%;
}
.info-wrap .bar-chart span {
    font-family: "Helvetica Neue",Arial;
    font-size: 0.7em;
    left: 0;
    line-height: 0;
    position: absolute;
    width: 100%;
    z-index: 6;
    font-weight: 700;
    top: -0.6em;
}
.info-wrap .donut-chart {
    width: 140px;
    display: inline-block;
  }

.info-wrap .square {
    position: relative;
    width: 100%;
    height: 0;
    padding: 0 0 100% 0;
  }

.info-wrap svg {
    position: absolute;
    width: 100%;
    height: 100%;
  }

.info-wrap polygon {
    stroke: white;
    stroke-width: 1;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }

.info-wrap text {
    text-anchor: middle;
    font-size: 1.2em;
    font-weight: 700;
    fill: #999;
  }
.info-wrap p {
    text-align: center;
  }

.info-wrap .donut-legend {
    display: inline-block;
    margin-top: 10px;
    vertical-align: top;
  }

.info-wrap li {
    margin: 0 0 5px 1em;
  }

.info-wrap .block {
    position: relative;
    top: 0.1em;
    display: inline-block;
    width: 1em;
    height: 1em;
    margin: 0 0.1em 0 0;
    border-radius: 50%;
  }
@media only screen and (min-width: 480px) {
  /* 480 =================================================== */
}
@media only screen and (min-width: 600px) {
  /* 600 =================================================== */
}
@media only screen and (min-width: 768px) {
  /* 768 =================================================== */
}
@media only screen and (min-width: 840px) {
  /* 992 =================================================== */
    .list-item.list-time {
        width: 85%;
    }
}
@media only screen and (min-width: 992px) {
  /* 992 =================================================== */
    .list-item.list-time {
        width: 90%;
    }
}
@media only screen and (min-width: 1382px) {
  /* 1382 =================================================== */
    .list-item.list-time {
        width: 87%;
    }
    .main-header {
        top: 0;
        position: fixed;
        z-index: 2147483647
    }
    #main-navigation {
        margin-left: 20px;
        display: inline-block;
        height:auto;
        overflow: visible;
        position: static;
    width: auto;
    background: none;
    }
    #main-navigation li{
        
        display: inline-block;
    }
    .menu-icon {
        display: none;
    }
    .menu-list a{
        border: none;
        padding: 0;
        border-left: 1px solid rgb(71,71,71);
        color: #7ac5cd;
        margin: 5px 10px;
    }
    #main-navigation .menu-list-first-item a{
        border-left: none;
    }
/*    .list-wrap, .info-wrap {
        width: 1023px;
        margin: 0 auto;
    }*/

    .tracker .list-wrap {
        margin-top: 0;
    }
    
    .info-wrap {
        float: left;
        width: 605px;
    }
    .list-wrap{
/*        width: 100%;*/
        margin-left: 628px;
    }
    .form-wrap {
        top: 0;
        background: none;
        bottom: 0;
        color: #000000;
        width: 605px;
    }
    .add-item {
        height: auto;
    }
    .dropdown-wrap {
        width:97%;
        top: 31px;
        max-height: 200px;
    }
    .dropdown, .form-input {
        padding: 5px 5px;
    }
    .dropdown-selection {
        padding: 4px;
    }
    .day-picker {
        padding: 7px;
    }
    .button input {
        padding: 4px; 
    }
    
    .dropdown-wrap > div {
        padding: 10px 0;
    }














/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
