/* 
    Document   : style
    Created on : 23-Dec-2012, 18:10:28
    Author     : david S
    Description:
        Purpose of the stylesheet follows.
*/
@import "reset.css";
html {
    height:100%;
}
body {
    color: #000;
    font-size: 0.813em;
    letter-spacing:0.06em;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    height:100%;
    background-color: #efefef;
    /*background: url('../images/index3.png') #c7c7c7 repeat;*/
}
a {
    outline: none;
    text-decoration: none;
    color: #6E7B8B;
}
li {
    list-style: none;
}
h1 {
    font-size: 1.5em;
    padding: 10px 0 20px; 
    font-weight: 700;
}
h1 .fa-chevron-right {
    color: #53868B;
}
#tracker {
    margin-top: 240px;
}
.button {
    margin-right: 20px;
    overflow: auto;
}
#content, .form-wrap {
    width: 100%;
    margin: 0 auto;
    max-width: 1023px;
}
.form-wrap {
    position: relative;
}
.form-title {
    position: absolute;
    left: -147px;
    top:20px;
}
.button input{
    background: none;
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    font-weight: 700;
    float: right;
    padding: 7px;
    cursor: pointer;
    border: 3px solid #4F4F4F;
    border-radius: 8px;
    margin-right: 5px;
}
.main-header {
     /*background: url("../images/index_1.png") repeat scroll 0 0 #333;*/
    background-color: #363636;
    border-bottom: 5px solid #7AC5CD;
    color: #fff;
    font-weight: 700;
    width: 100%;
    height: 65px;
    top: 0;
    position: fixed;
    z-index: 2147483647
}
.main-header h1{
    font-size: 2em;
    padding-left: 10px;
    padding-top: 20px;
    display: inline-block;
}
#main-navigation {
    margin-left: 20px;
    display: inline-block;
}
#main-navigation li{
    border-right: 1px solid rgb(71,71,71);
    display: inline-block;
}
#main-navigation a{
    color: #7ac5cd;
    padding: 10px 20px;
}
.main-nav-first-item {
    border-left: 1px solid rgb(71,71,71);
}

 .task-wrap li, .add-task label,.add-project label, .project-dropdown, .day-picker, .day-picker-inner-wrap {
    display: inline-block;
}

.task-list-wrap, .project-list-wrap {
    border: 5px solid #7AC5CD;
    border-radius: 20px;
    padding: 10px 10px 40px 10px;
    background-color: #fff;
}
.project-list-wrap {
    width: 50%;
}
.task-wrap, .project-wrap {
    padding: 15px 5px 15px 5px;
    border-bottom: 1px solid #c7c7c7;
}
.project-wrap li{
    display: inline-block;
}
.project-item-colour {
    width: 6%;
}
.project-item-abr {
    width: 9%;
}
.project-colour {
    height: 13px;
    width: 13px;
    border-radius: 10px;
}
.colour {
    border: none;
    padding: 8px;
}
.project-item-name {
    width: 40%;
}
.project-item-total {
    width: 35%;
}
.task-item-abr {
    width: 5%;
    font-weight: 700;
    padding-left: 15px;
}
.task-item-time {
    width: 12%;
}
.task-item-time .fa-clock-o {
    margin-right: 7px;
}
.task-item-date {
    width: 12%;
}
.task-item-description {
    width: 65%;
}
.task-item-edit {
    font-size: 1.5em;
    color: #c7c7c7;
    width: 20px;
    cursor: pointer;
}
.day-picker-wrap {
    margin-top: 10px;
    font-weight: 400;
    font-size: 0.83em;
    display: inline-block;
}
.day-picker-inner-wrap .day-picker {
    min-width: 75px;
    text-align: center;
}
.day-picker{
    padding: 10px;
    cursor: pointer;
    border: 3px solid #4F4F4F;
    border-radius: 8px;
    margin-right: 5px;
}

.day-picker.selected {
    color: #333;
    background-color: #fff;
    border: 3px solid #53868B;
}
.project-list-selection {
    padding: 2px;
}
.edit {
    background-color: #7ac5cd;
}
.form-buttons-wrap {
    float: right;
    margin-top: 10px;
}
.task-table-enter {
  opacity: 0.01;
  transition: opacity .8s ease-in;
}

.task-table-enter.task-table-enter-active {
  opacity: 1;
}
.project-dropdown, .form-input {
    border: 3px solid #53868B;
    border-radius: 8px;
    position: relative;
    padding: 5px;
    background-color: #fff;
    width: 214px;
    color: #333;
}
.form-input[name="description"] {
    width: 438px;
}
.form-input[name="time"] {
    width: 50px;
}
.project-dropdown-selection .fa-chevron-down {
    position: absolute;
    right: 5px;
}
.project-dropdown-id {
    display:none;
}

.project-dropdown-wrap {
    background-color: #fff;
    display: none;
    left: -3px;
    padding: 8px;
    position: absolute;
    top: 33px;
    width: 93%;
    border: 3px solid #53868B;
}
.project-dropdown-selection {
    color: #53868B;
    padding: 5px 0;
}
.project-dropdown-wrap > div {
    border-bottom: 3px solid #c7c7c7;
    margin: 5px 0;
    cursor: pointer;
}
.project-dropdown-wrap li {
    display: inline-block;
}
.project-dropdown-name {
    color: #c7c7c7;
}
.project-dropdown-name:before {
    content: '-';
    margin: 0 3px;
}
.project-dropdown-colour {
    display: inline-block;
    width:10px;
    height: 10px;
    border-radius: 5px;
    margin-right: 5px;
}
.active {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px; 
}
.active .project-dropdown-wrap {
    display: block;
    z-index: 1;
}
.task-form-wrap, .project-form-wrap {
    background-color: #363636;
    color: #fff;
    font-weight: 700;
    padding: 10px 0 10px 10px;
    left: 0;
    top: 70px;
    padding: 10px 0 10px 10px;
    position: fixed;
    width: 100%;
    z-index: 99999999;
}
.add-task > li, .add-project > li {
        display: inline-block;
    }
    .add-task label, .add-project label {
        padding: 0 10px;
    }
/*  General CSS   */

.hidden {
    display:none;
}

/* Media Queries */
@media only screen and (min-width: 480px) {
  /* 480 =================================================== */
}
@media only screen and (min-width: 600px) {
  /* 600 =================================================== */
}
@media only screen and (min-width: 768px) {
  /* 768 =================================================== */
}
@media only screen and (min-width: 992px) {
  /* 992 =================================================== */
}
@media only screen and (min-width: 1382px) {
  /* 1382 =================================================== */
  body {
    max-width: 1440px;
  }
}