{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div id="tracker" class="tracker"></div>

{% verbatim %}
<script id='template' type='text/ractive'>
<div class='content-wrap'>
    <iForm/> 
    <iList>
</div>

</script>

<script id='dayPicker' type='text/ractive'>
<div class="day-picker-wrap">
    <div on-click='previousDates' class='day-picker date-prev fa fa-chevron-left'></div>
    <div class="day-picker-inner-wrap">
        {{#each dates:i}}
            <div on-click='selectDate' class='day-picker {{#if formatJSDate(selectedDate) === formattedDate }}selected{{/if}}'>{{formattedDate}}</div>
        {{/each}}
    </div>
    <div on-click='nextDates' class='day-picker date-next fa fa-chevron-right'></div>
</div>
    </script>
<script id='dropdown' type='text/ractive'>
<ul  class='dropdown {{ active ? "active": ""}}'>
    <li on-tap='toggleSelect' class='dropdown-selection'>
        <span class="dropdown-colour" style='background-color:{{dd_items[selected_id].item.colour}}'></span>
        {{dd_items[selected_id].item.abbreviation}}
        <span class="dropdown-name"> {{dd_items[selected_id].item.name}}</span>
        <span class="fa fa-chevron-down"></span>
    </li>
    <li class="dropdown-wrap">
    {{#each dd_items:i}}
    <div data-id='{{item.id}}' on-tap='selectProject'>
            <span class="dropdown-colour" style='background-color:{{item.colour}}'></span>
                <span class="dropdown-abr" >{{item.abbreviation}}</span>
                <span class="dropdown-name" >{{item.name}}</span>
            </div>
    {{/each}}
    </li>
</ul>

</script>
<script id='taskForm' type='text/ractive'>
<form on-submit='submitTask'>
                    <ul class='add-item {{ open ? "open" : "" }}'>
                        <li>
                            <label>Project:</label>
                           <Dropdown/>
                        </li><li>
                            <label>Time:</label>
                            <input class='form-input short' placeholder='0.0' name='time' value={{task.time}} on-change='handleInput'/>
                        </li><li>
                            <label>Description:</label>
                            <input  class='form-input long' placeholder='Add description here' name='description' value={{task.description}} on-change='handleInput'/>
                        </li><li>
							<label>Logged:</label>
							<input name="logged" type="checkbox" on-change='handleCheckbox'>
						</li><li>
                            <label>Date:</label>
                            <DayPicker task_date={{task.task_date}} />
                        </li><li>
                            <div class="form-buttons-wrap">
                                <div class="button">
                                    {{#if edit }}<input value='Delete' type='button' name='delete' on-click='deleteTask'/>{{/if}}
                                    <input class='right' value='Cancel' type='button' name='cancel' on-click='cancelForm' />
                                    <input class='right' value='Submit' type='submit' name='log' />
                                </div>
                            </div>
                        </li>
                  </ul>

                </form>

</script>
<script id='projectForm' type='text/ractive'>
<form on-submit='submitProject'>
                <ul class='add-item {{ open ? "open" : "" }}'>
                    <li>
                        <label for="colour">Colour:</label>
                        <input placeholder='#FFFFFF' defaultValue='#FFFFFF' class='colour form-input' type="text" ref="colour" name="colour" on-change='handleInput'/>
                    </li>
                    <li>
                        <label for="abbreviation">Abbreviation:</label>
                        <input placeholder='Max 6 letters eg. ABR'  class='form-input short uppercase' ref="abbreviation" type="text" name="abbreviation" on-change='handleInput'/>
                    </li>
                    <li>
                        <label for="name">Name:</label>
                        <input placeholder='Name of project'  class='form-input' ref="name" type="text" name="name" on-change='handleInput'/>
                    </li>
                    
                    <li>
						<div class="form-buttons-wrap">
                        <div class="button">
                                    {{#if edit }}<input value='Delete' type='button' name='delete' on-click='deleteTask'/>{{/if}}
                                    <input class='right' value='Cancel' type='button' name='cancel' on-click='cancelForm' />
                                    <input class='right' value='Submit' type='submit' name='log' />
                                </div>
						</div>
                    </li>
              </ul>
          </form>


</script>
<script id='iForm' type='text/ractive'>
    <div id='fixedForm' class='form-wrap {{ fixed ? "fixed" : "" }}'>
        <div class='form-inner-wrap'>
            <h1 on-tap='toggleForm' class='form-title'><span class="fa fa-chevron-right"></span> {{ edit ? 'Edit task' : 'Add a task' }}</h1>
                {{>taskForm}}
				{{>projectForm}}
            </div>
        </div>
</script>
<script id='task' type='text/ractive'>
    <ul class='list-row' intro-outro='fade:{ delay:{{ i*50 }}, duration:{{ i*100 }} }'>
        <li class='list-item list-date' >{{formatDate(task_date)}}</li>
        <li class='list-item list-time' ><span class="fa fa-clock-o"></span>{{time}}</li>
        <li class='list-item list-abr' ><div class="project-colour" style='background-color: {{project.colour}};'></div>{{project.abbreviation}}</li>
        <li class='list-item list-description' ref='description'>{{description}}</li>
        <li class='list-item list-edit'><span on-tap='editTask' class='fa fa-pencil-square'></span></li>
    </ul>
</script>

<script id='iList' type='text/ractive'>
    <div class='list-wrap'>
         <h1 class='list-title'><span class="fa fa-chevron-right"></span>Tasks</h1>

         <div class='list-table'>
         {{#each items:i}}
             {{>task}}
         {{/each}}
         </div>
     </div> 
</script> 
{% endverbatim %}
<script src="{% static 'js/src/tasks.js' %}" ></script> 
<script src="{% static 'js/src/components/daypicker.js' %}" ></script> 
<script src="{% static 'js/src/components/dropdown.js' %}" ></script> 
<script src="{% static 'js/src/components/form.js' %}" ></script> 
<script src="{% static 'js/src/components/list.js' %}" ></script> 
	
<script>    var ractive = new Ractive({
    el: '#tracker',
    template: '#template',
    data: { 
        open: false,
        edit: false,
    },
    components: { 
        iForm: iForm,
        iList: iList,
        Dropdown: Dropdown,
        DayPicker: DayPicker,
    },


});
console.log(ractive);</script>
{% endblock %}


