{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <script src="{% static 'js/vendor/modernizr-2.8.3.min.js' %}"></script>
        <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700' rel='stylesheet' type='text/css'>
        <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet" type="text/css">
        
        <script src="{% static 'js/vendor/jquery-1.11.3.js' %}" ></script>
        <!-- script src="{% static 'js/vendor/fluxxor-1.5.2/build/fluxxor.js' %}"></script-->
        <script src='http://cdn.ractivejs.org/latest/ractive.min.js'></script>
        <script src="{% static 'js/vendor/ractive-events-tap.min.js' %}" ></script>
        <script src="{% static 'js/vendor/in-view.js' %}" ></script>
        <script src="{% static 'js/classes.js' %}"></script>
        <script src="{% static 'js/vendor/jquery.cookie.js' %}"></script>
        <script src="{% static 'js/vendor/underscore-min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/jqColorPicker.min.js' %}"></script>
        <script src="{% static 'js/vendor/ractive-transitions-fade.js' %}" ></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


<div id="container">
    <div id="main-header" role="main-header">
        <h1><span class="fa fa-clock-o"></span>TimeTrackr</h1>
        <div class="menu-icon"><span class="fa fa-bars"></span></div>
        <nav role="main-navigation" id="main-navigation">
            

            <ul class="menu-list">
                <li class="menu-list-first-item">
                    <?php echo anchor('/tracker', 'Tasks'); ?>
                </li><li>
                    <?php echo anchor('/projects', 'Projects'); ?>
                </li><li>
                    <?php echo anchor('/users/logout', 'Logout'); ?>
                </li>
            
            </ul>
        </nav>
    </div>
    <div id="content">
        {% block content %}

    {% endblock %}
    </div>
</div>

<!--<script src="<?php // echo base_url('www/js/build/clients.js'); ?>" ></script>-->
<!--<script src="<?php // echo base_url('www/js/build/actions.js'); ?>" ></script>-->
<!--<script src="<?php // echo base_url('www/js/build/stores.js'); ?>" ></script>-->
<script src="{% static 'js/main.js' %}" ></script>
</body>
</html>